#reset-btn {
    display: block;
    float: none;
    width: 100%;
    font-size: 20px;
}

.interactive {
    cursor: pointer;
}

.interactive:focus {
    cursor: text;
}

[contenteditable] {
    padding: 0 0.2em;
    border: 1px solid #eeeeee;
    border-radius: 6px;

    .leaflet-sidebar-header > & {
        border: 1px solid #1861ab;
    }

    &:hover {
        border: 1px solid #a7a7a7;
    }
}

.leaflet-sidebar-header [contenteditable]::selection {
    background: #333;
}

.form-check {
    height: auto;
    font-size: x-large;
    margin: 0.5em 0 1em;
}

.checkbox-header {
    margin-top: 1em;
}

.mod-checkbox {
    width: 35px;
    height: 35px;
}

.form-check-label {
    padding-left: 1em;
}

#form-container {
    width: 100%;
}

.dmshield-link, .dmshield-link:hover {
    color: black !important;
    text-decoration: none !important;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard-message-title {
    max-width: 200px;
}

.campaign-imagetron {
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0px 0px 10px white;
}

.campaign-name-header {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.players-row.tight {
    min-height: 150px;
    max-height: 150px;
}

.map-row {
    transition: opacity 500ms ease-in;
}

.map-image-thumbnail {
    min-height: 175px;
    max-height: 175px;
}

#logged-in-users-container {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 10px;
    right: 10px;
    background-color: #fffffff2;
    padding: 1em;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px #8a8a8a;
    z-index: 2000;
}

.leaflet-sidebar {
    z-index: 1040;
}

.leaflet-sidebar-header,
.leaflet-sidebar-tabs>ul>li {
    height: 50px !important;
}

.sidebar-tab-link {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.leaflet-sidebar-close {
    position: relative !important;
    right: initial !important;
    top: initial !important;
}

.leaflet-marker-icon {
    z-index: 1040;
}

.compendium-list-group {
    overflow-y: auto;
    max-height: 150px;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.compendium-item {
    font-size: 17px;
}

.compendium-btn-group > button {
    width: 100px;
}

.compendium-description p:last-child {
    margin-bottom: 0;
}

.map-container-underlay {
    width: 100%;
    height: 100%;
}

#note-title:focus {
    padding: 0 0.5em;
}

#note-title::selection {
    background-color: black;
}

.debug-log {
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-size: medium;
    padding: 2em 4em;
    margin: 2em 0;
    width: 100%;
}

@media(min-width: 768px) {
    #reset-btn {
        float: right;
        width: auto;
    }
}

@media(min-width: 1024px) {
    .form-check {
        height: auto;
        font-size: initial;
        margin: initial;
    }

    .checkbox-header {
        margin-top: initial;
    }

    .mod-checkbox {
        width: initial;
        height: initial;
    }

    .form-check-label {
        padding-left: 0;
    }

    #form-container {
        width: 75%;
    }
}

/* ANIMATIONS */

@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 7px 2px #498adc;
    }

    100% {
        box-shadow: 0 0 1px 1px white;
    }
}

.shadow-pulse {
    animation-name: shadowPulse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}