#reset-btn {
    display: block;
    float: none;
    width: 100%;
    font-size: 20px;
}

.interactive {
    cursor: pointer;
}

.interactive:focus {
    cursor: text;
}

[contenteditable] {
    padding: 0 0.1em;

    &:hover {
        border: 1px solid #a7a7a7;
        border-radius: 6px;
    }
}

.form-check {
    height: auto;
    font-size: x-large;
    margin: 0.5em 0 1em;
}

.checkbox-header {
    margin-top: 1em;
}

.mod-checkbox {
    width: 35px;
    height: 35px;
}

.form-check-label {
    padding-left: 1em;
}

#form-container {
    width: 100%;
}

.dmshield-link, .dmshield-link:hover {
    color: black !important;
    text-decoration: none !important;
}

.map-row {
    transition: opacity 500ms ease-in;
}

.map-image-thumbnail {
    min-height: 150px;
    max-height: 150px;
}

.leaflet-sidebar {
    z-index: 1040;
}

.leaflet-sidebar-header,
.leaflet-sidebar-tabs>ul>li {
    height: 50px !important;
}

.sidebar-tab-link {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.leaflet-sidebar-close {
    position: relative !important;
    right: initial !important;
    top: initial !important;
}

.leaflet-marker-icon {
    z-index: 1040;
}

.compendium-list-group {
    overflow-y: auto;
    max-height: 150px;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.map-container-underlay {
    width: 100%;
    height: 100%;
}

#note-title:focus {
    padding: 0 0.5em;
}

#note-title::selection {
    background-color: black;
}

.debug-log {
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-size: medium;
    padding: 2em 4em;
    margin: 2em 0;
    width: 100%;
}

@media(min-width: 768px) {
    #reset-btn {
        float: right;
        width: auto;
    }
}

@media(min-width: 1024px) {
    .form-check {
        height: auto;
        font-size: initial;
        margin: initial;
    }

    .checkbox-header {
        margin-top: initial;
    }

    .mod-checkbox {
        width: initial;
        height: initial;
    }

    .form-check-label {
        padding-left: 0;
    }

    #form-container {
        width: 75%;
    }

    /* ANIMATIONS */

    @keyframes shadowPulse {
        0% {
            box-shadow: 0 0 7px 2px #498adc;
        }

        100% {
            box-shadow: 0 0 1px 1px white;
        }
    }

    .shadow-pulse {
        animation-name: shadowPulse;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
}