#map-container {
    position: relative;
    width: 1024px;
}

#raimica-map {
    width: 1024px; height: auto;
    cursor: pointer;
}

.marker {
    border-radius: 9999px;
    background-color: black;
    border: 2px solid darkgray;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    transition: opacity 200ms ease-in;
    width: 20px; height: 20px;
    padding: 0;
}

.edit-box {
    margin: 0;
    width: calc(276px - 1.5rem);
    max-width: calc(276px - 1.5rem);
    margin-bottom: 0.5rem;
}

.show-marker {
    opacity: 1;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    width: 18px; height: 18px;
    bottom: 3px; left: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

@media(min-width: 576px) {
    .marker {
        width: 23px; height: 23px;
    }
}

@media(min-width: 768px) {
    .marker {
        width: 25px; height: 25px;
    }
}

@media(min-width: 992px) {
    .marker {
        width: 34px; height: 34px;
    }
}

@media(min-width: 1200px) {
    .marker {
        width: 32px; height: 32px;
    }
}